.homepage-image{
    margin-top: 5%;
}
.row{
  width: 100%;
}

.img-fluid{
    border-radius: 6%;
}

.card{
    margin: 0 auto;
    max-width: 18rem;
    text-decoration: none;
  }

  p{
    margin-top: 15px;
  }
  #container{
    margin: 0 auto;
  }

  .card-title{
    text-decoration: none;
    text-align: center;
    padding: 8px;
  }